{% extends 'main-base.html.twig' %}
{% block page_content %}
    <div class="col-sm-6 marginTop3 margin-h-center">
        {{ form_start(changePassForm) }}
        <div class="col-sm-12">
            {{ form_errors(changePassForm.Password.first) }}
        </div>
        <div class="col-xl-12 d-flex flex-xl-row marginTop2">
            <div class="col-xl-3">
                {{ form_label(changePassForm.Password.first) }}
            </div>
            <div class="col-xl-9">
                {{ form_widget(changePassForm.Password.first) }}
            </div>
        </div>
        <div class="col-sm-12 d-flex flex-xl-row marginTop2">
            <div class="col-sm-3">
                {{ form_label(changePassForm.Password.second) }}
            </div>
            <div class="col-sm-9">
                {{ form_widget(changePassForm.Password.second) }}
            </div>
        </div>
        <button class="btn btn-success btn-hover-shine btn-pill marginTop2">Sauvegarder</button>
        {{ form_end(changePassForm) }}
    </div>
{% endblock %}