{% extends 'admin-base.html.twig' %}

{% block title %}{{ parent() }}Identification{% endblock %}
{% block page_title %}Archi-med{% endblock %}
{% block page_subtitle %}Plateforme de test{% endblock %}
{% block page_content %}
<div class="marginTop3">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
        <form method="post">
            <div class="loginForm marginTop3">
                <div class="loginForm-group">
                    <div class="loginForm-item">
                        <label class="loginForm-label" for="inputEmail">Votre Email:</label>
                        <div class="loginForm-input">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                        </div>
                    </div>
                    <div class="loginForm-item">
                        <label class="loginForm-label" for="inputPassword">Mot de passe:</label>
                        <div class="loginForm-input">
                            <input type="password" name="password" id="inputPassword" required>
                        </div>
                    </div>
                    <div class="checkbox marginTop1 marginBot1">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>
                </div>
                <div class="marginTop2">
                    <button class="submit" type="submit">
                        Connexion
                    </button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
    </form>

    <p class="marginTop3">Mot de passe oubliés ? <a href="#">Cliquez ici</a>..</p>
</div>
{% endblock %}
