{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }} Mon Profile
{% endblock %}

{% block body %}
    <div class="card marginTop3">
        <div class="profile-container">
                <div class="profile-left-container">
                    <div class="profile-menu-container">
                        <a href="{{ path('monProfile', {id: app.user.id}) }}"><h6 class="profile-buttons focus">Mon Profile</h6></a>
                        <a href="{{ path('mesTests', {id: app.user.id}) }}"><h6 class="profile-buttons">Mes Tests</h6></a>
                        <a href="{{ path('mesResultat', {id: app.user.id}) }}"><h6 class="profile-buttons">Mes Résultat</h6></a>
                        <a href="{{ path('app_logout') }}"><h6 class="profile-buttons">Déconnexion</h6></a>
                    </div>
                </div>
            <div class="profile-right-container">
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_javascript %}
    <script>
        tippy('#buttonPass', {
            content: 'Modifier votre mot de passe',
        });
        tippy('#buttonEmail', {
            content: 'Modifier votre email',
        });
    </script>

{% endblock %}
