{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block page_content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button type="submit"><a class="pointer">Register</a></button>
        <button type="button"><a href="{{ path('main_home') }}">Annuler</a></button>
    {{ form_end(registrationForm) }}
{% endblock %}
