{% extends 'main-base.html.twig' %}
{% block page_title %}
{% endblock %}
{% block page_subtitle %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block page_content %}
    {% if user is defined and user.role == "ROLE_USER" %}
        {% set class = "is-block col-sm-12 marginTop1" %}
    {% else %}
        {% set class = "is-hidden col-sm-12 marginTop1" %}
    {% endif %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="col-md-12" data-controller="datePicker">
        {{ form_start(registrationForm) }}
            <div class="mx-auto app-login-box col-md-12">
                <div class="card w-100 col-sm-4 margin-h-center">
                    <div class="card-body">
                        <div class="col-md-12">
                            {{ form_row(registrationForm.sexe) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_widget(registrationForm.nom) }}
                        </div>
                        <div class="col-md-12 marginTop1">
                            {{ form_widget(registrationForm.prenom) }}
                        </div>
                        <div class="col-md-12 marginTop1 d-flex flex-md-row justify-content-between datePicker-dateDeNaissance">
                            {{ form_label(registrationForm.dateDeNaissance) }}
                            {{ form_widget(registrationForm.dateDeNaissance) }}
                        </div>
                        <div class="col-md-12 marginTop1">
                            {{ form_widget(registrationForm.email) }}
                        </div>
                        <div class="col-md-12 marginTop1">
                            {{ form_widget(registrationForm.agence) }}
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-md-12 marginTop1">
                                {{ form_widget(registrationForm.role) }}
                            </div>
                        {% endif %}
                        <div class="{{ class }}" id="visibility-container">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="marginTop1">
                                    {{ form_widget(registrationForm.consultant) }}
                                </div>
                            {% endif %}
                            <div class="marginTop1">
                                {{ form_widget(registrationForm.module) }}
                            </div>
                            <div class="d-flex flex-column justify-content-around marginTop1 full-width" id="testResultatContainer">
                                {{ form_row(registrationForm.authResultI3P) }}
                                {{ form_row(registrationForm.authResultRiasec) }}
                                {{ form_row(registrationForm.authResultPositioning) }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-block text-center">
                        {% if user is defined %}
                            <button type="submit" class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg">Enregistrer</button>
                        {% else %}
                            <button type="submit" class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg">Ajouter utilisateur</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
{% block bottom_javascript %}
    <script>
    </script>
{% endblock %}