{% extends 'main-base.html.twig' %}

{% block title %}

{% endblock %}

{% block page_content %}
    <div class="col-sm-12">
        <form method="post" name="riasec-filters" id="riasec-filters">
            <div class="d-flex flex-md-row justify-content-center align-items-center riasecFilters-Container">
            <div>
                <div class="radios-Container d-flex flex-md-row justify-content-center">
                    <div>
                        Majeur:
                    </div>
                    <div>
                        <input type="radio" name="riasecMajeur" id="R" value="R">
                        <label for="R">R</label>
                    </div>
                    <div>
                        <input type="radio" name="riasecMajeur" id="I" value="I">
                        <label for="I">I</label>
                    </div>
                    <div>
                        <input type="radio" name="riasecMajeur" id="A" value="A">
                        <label for="A">A</label>
                    </div>
                    <div>
                        <input type="radio" name="riasecMajeur" id="S" value="S">
                        <label for="S">S</label>
                    </div>
                    <div>
                        <input type="radio" name="riasecMajeur" id="E" value="E">
                        <label for="E">E</label>
                    </div>
                    <div>
                        <input type="radio" name="riasecMajeur" id="C" value="C">
                        <label for="C">C</label>
                    </div>
                </div>
                <div class="radios-Container d-flex flex-md-row justify-content-center">
                    <div>
                        Mineur:
                    </div>
                    <div>
                        <input type="radio" name="riasecMineur" id="R" value="R">
                        <label for="R">R</label>
                    </div>
                    <div>
                        <input type="radio" name="riasecMineur" id="I" value="I">
                        <label for="I">I</label>
                    </div>
                    <div>
                        <input type="radio" name="riasecMineur" id="A" value="A">
                        <label for="A">A</label>
                    </div>
                    <div>
                        <input type="radio" name="riasecMineur" id="S" value="S">
                        <label for="S">S</label>
                    </div>
                    <div>
                        <input type="radio" name="riasecMineur" id="E" value="E">
                        <label for="E">E</label>
                    </div>
                    <div>
                        <input type="radio" name="riasecMineur" id="C" value="C">
                        <label for="C">C</label>
                    </div>
                </div>
            </div>
            <div>
                <button>Ok</button>
            </div>
        </div>
        </form>
    </div>
    <table>
        <tr>
            <th>Code</th>
            <th>Libelle</th>
            <th>Domaine Pro</th>
            <th>Grand Domaine Pro</th>
            <th>Riasec Maj</th>
            <th>Riasec Min</th>
        </tr>
        {% for metier in metiers %}
            <tr>
                <td>{{ metier.code }}</td>
                <td>{{ metier.libelle }}</td>
                <td>{{ metier.domainePro.libelle }}</td>
                <td>{{ metier.domainePro.grandDomainePro.libelle }}</td>
                <td>{{ metier.riasecMajeur }}</td>
                <td>{{ metier.riasecMineur }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

