{% extends 'main-base.html.twig' %}

{% block title %}{{ parent() }} Edition test {{ test.nom }}{% endblock %}

{% block page_content %}
    <h3 class="txtcnt">{{ test.nom }}</h3>
    <div class="marginTop3">
        il y a actuellement {{ test.questions|length }} questions d'inscrite dans le test<br>
    </div>
    <div class="marginTop3">
        <a href="{{ path('admin_tests') }}">Retour au listing</a>
    </div>
    <table class="MainTable marginTop1">
        <thead>
        <tr>
            <th class="tabStatusTh">N°</th>
            <th class="tabNomTh">Intituler</th>
            <th class="tabAgenceTh">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for question in test.questions %}
            <tr class="tableRow cursor">
                <td class="tabStatus">
                    {{ question.numero }}
                </td>
                <td class="tabNom">
                    {{ question.intituler }}
                </td>
                <td class="tabAgence">
                    <a class="pointer" onclick="comfirmationOpen()">Supprimer</a> | <a class="pointer" id="openerUpdate">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button id="opener" class="marginTop1">Ajouter Question</button>
    <script type="text/javascript">
        let button = document.getElementById("opener");
        button.addEventListener( "click", openIframe);
    </script>

    <div class="iframeDiv closed" id="iframeDiv">
        <iframe class="addQuestion-iframe" id="iframe" src="{{ path('admin_test_add_question', {id: test.id}) }}" onloadstart="closeIframe()"></iframe>
    </div>
{% endblock %}

