{% extends 'main-base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<style>

</style>
{% endblock %}
{% block page_content %}
    <div class="col-sm-12 marginTop3 marginBot3" data-controller="riasec">
        <div class="row full-width">
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-header">Graphique</div>
                    <div class="card-body">
                        <canvas class="marginTop3" id="myChart" width="300" height="300"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-header">Resultat etendu</div>
                    <div class="card-body">
                        <div class="d-flex flex-sm-row riasec-figures justify-content-between full-width marginTop2" data-controller="riasec">
                            {% for key, value in orderedPourcent %}
                                <div class="riasec-figure justify-content-center">
                                    <div class="{{ key }} Image" data-riasec="{{ value|json_encode }}">
                                        <figure></figure>
                                    </div>
                                    ( {{ value }}% )
                                </div>
                            {% endfor %}
                        </div>
                        <div class="marginTop2">
                            <h6>Vos 2 pôles les plus marqués :</h6>
                            <h6>RIASEC majeur : <strong>{{ resultat.majeur }}</strong></h6>
                            <h6>RIASEC mineur : <strong>{{ resultat.mineur }}</strong></h6>
                            <hr>
                            <h6>Vos 2 pôles les moins marqués :</h6>
                            <h5><b>{{ resultat.inferieur1 }}</b></h5>
                            <h5><b>{{ resultat.inferieur2 }}</b></h5>
                            <hr>
                            <h6 class="text-danger"><strong>La valeur de différenciation de votre profil: <b>{{ resultat.differenciation }}</b></strong></h6>
                            <h5>Valeur de consistance de votre profil : {{ resultat.consistance }}</h5>
                        </div>
                        <div class="col-sm-12 marginTop1">
                            <form action="{{ path('api_pole_emploi') }}" method="post">
                                <input type="hidden" value="metier" name="type" id="type">
                                <input type="hidden" value="{{ resultat.majeur|initial }}" name="riasecMajeur" id="riasecMajeur">
                                <input type="hidden" value="{{ resultat.mineur|initial }}" name="riasecMineur" id="riasecMineur">
                                <button class="btn btn-pill border-0 btn-outline-dark btn-hover-shine btn-shadow" type="submit">Consulter les metiers associés</button>
                            </form>
                        </div>
                        <div class="marginTop2">
                            <table class="mb-0 table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class="realiste-head"></th>
                                    <th class="investigateur-head"></th>
                                    <th class="artiste-head"></th>
                                    <th class="social-head"></th>
                                    <th class="entrepreneur-head"></th>
                                    <th class="conventionnel-head"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Score brute</td>
                                    <td>{{ resultat.realiste }}</td>
                                    <td>{{ resultat.investigateur }}</td>
                                    <td>{{ resultat.artiste }}</td>
                                    <td>{{ resultat.social }}</td>
                                    <td>{{ resultat.entrepreneur }}</td>
                                    <td>{{ resultat.conventionnel }}</td>
                                </tr>
                                <tr>
                                    <td>Score étalonné</td>
                                    <td>{{ resultat.realisteEtalonne }}</td>
                                    <td>{{ resultat.investigateurEtalonne }}</td>
                                    <td>{{ resultat.artisteEtalonne }}</td>
                                    <td>{{ resultat.socialEtalonne }}</td>
                                    <td>{{ resultat.entrepreneurEtalonne }}</td>
                                    <td>{{ resultat.conventionnelEtalonne }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row full-width">
            <div class="d-flex col-sm-12 justify-content-around flex-row flex-nowrap">
                <div id="majeur" class="riasec-card">
                    <h5>Riasec Majeur</h5>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <div class="content-card-front-{{ resultat.majeur|minimize }}"></div>
                            </div>
                            <div class="flip-card-back">
                                <div class="content-card-back-{{ resultat.majeur|minimize }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if twoMineur == true %}
                    <div id="mineur" class="riasec-card">
                        <h5>Premier Riasec Mineur</h5>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="content-card-front-{{ minor1|minimize }}"></div>
                                </div>
                                <div class="flip-card-back">
                                    <div class="content-card-back-{{ minor1|minimize }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="mineur" class="riasec-card">
                        <h5>Deuxieme Riasec Mineur</h5>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="content-card-front-{{ minor2|minimize }}"></div>
                                </div>
                                <div class="flip-card-back">
                                    <div class="content-card-back-{{ minor2|minimize }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div id="mineur" class="riasec-card">
                        <h5>Riasec Mineur</h5>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="content-card-front-{{ resultat.mineur|minimize }}"></div>
                                </div>
                                <div class="flip-card-back">
                                    <div class="content-card-back-{{ resultat.mineur|minimize }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block bottom_javascript %}
    <script>
        let dataRiasec = ['{{ resultat.realiste }}', '{{ resultat.investigateur }}', '{{ resultat.artiste }}', '{{ resultat.social }}', '{{ resultat.entrepreneur }}', '{{ resultat.conventionnel }}' ];
        let dataEtalonne = ['{{ resultat.realisteEtalonne }}', '{{ resultat.investigateurEtalonne }}', '{{ resultat.artisteEtalonne }}', '{{ resultat.socialEtalonne }}', '{{ resultat.entrepreneurEtalonne }}', '{{ resultat.conventionnelEtalonne }}' ];
    </script>
{% endblock %}
