{% extends 'main-base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('res/js/IRMR-rendering.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body_start %} data-controller="irmr"{% endblock %}
{% block page_content %}
<div class="col-sm-10">
    <div class="col-sm-9 margin-h-center card marginTop2 marginBot2">
        <ul class="mt-2">
            <li>
                Choisir une activité parmi les 2 proposées puis cocher sur l’intensité de celle- ci (+++ /++ /+ / 0)
            </li>
            <li>
                <span class="text-danger">Attention</span> : vous n’avez que 4 possibiltés pour l’intensité 0
            </li>
        </ul>
    </div>
    <div>
        {{ form_start(testForm, {'attr': {'id': 'riasecForm'}}) }}
        {{ form_widget(testForm) }}
        <div class="col-sm-12">
            <div class="i3p-submit col-sm-3 no-border d-flex flex-column margin-h-center marginTop3 marginBot3">
                <button class="btn btn-pill btn-outline-success btn-shadow btn-hover-shine btn-lg btn-wide">Valider</button>
            </div>
        </div>

        {{ form_end(testForm) }}
    </div>
</div>
{% endblock %}
