{% extends '3tabbed-base.html.twig' %}

{% block title %}{{ parent() }}Gestion I3P{% endblock %}

{% block tab1_title %}Presentation{% endblock %}
{% block tab2_title %}Questions{% endblock %}
{% block tab3_title %}Resultats{% endblock %}
{% block tab1_content %}
    <div class="col-sm-12 d-flex flex-md-row" data-controller="iframe">
        <div class="col-sm-6 iframe-wrapper">
            <h4>Aperçu</h4>
            <iframe id="iframeApercu" width="100%" height="100%" src="{{ path('presentation_I3P') }}" frameborder="0"></iframe>
        </div>
        <div class="col-sm-6 iframe-wrapper">
            <h4>Modifier</h4>
            <iframe id="iframeEdit" src="{{ path('presentation_edit', { id: test.presentation.id }) }}" frameborder="0">iframe2</iframe>
        </div>
    </div>
{% endblock %}
{% block tab2_content %}
    <div class="col-sm-12 d-flex flex-md-row" data-controller="iframe" id="question-container">
        <div class="col-sm-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Liste Questions</h5>
                    <table class="mb-0 table" id="questions">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Intitulé</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for question in test.questions %}
                        <tr data-id="{{ question.id }}">
                            <th scope="row">{{ question.numero }}</th>
                            <td>{{ question.intituler }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="follow-scroll">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Apercu</h5>
                        <iframe class="questions-iframe" src="" id="viewingIframe" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Modifier</h5>
                        <iframe class="questions-iframe" src="" id="editingIframe" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block tab3_content %}
    Hello tab3
{% endblock %}
