{% extends '2tabbed-base.html.twig' %}

{% block page_subtitle %}Gestion Riasec{% endblock %}

{% block tab1_title %}Presentation{% endblock %}
{% block tab2_title %}Questions{% endblock %}
{% block loading %} hasLoading{% endblock %}

{% block tab1_content %}
    <div class="col-sm-12 d-flex flex-md-column" data-controller="iframe">
        <div class="col-sm-12 iframe-wrapper">
            <h4>Modifier</h4>
            <div id="editPrez-container">
                {% include '/presentation/edit.html.twig' %}
            </div>
        </div>
{#        <div class="col-sm-12 iframe-wrapper marginTop3">#}
{#            <h4>Aperçu</h4>#}
{#            <iframe id="iframeApercu" width="100%" height="100%" src="{{ path('apercu_Riasec') }}" frameborder="0"></iframe>#}
{#        </div>#}
    </div>
{% endblock %}
{% block tab2_content %}
    <div class="col-sm-12 d-flex flex-md-row" id="question-container">
        <div class="col-sm-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Liste Questions</h5>
                    <table class="mb-0 table" id="questions">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Intitulé</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for question in test.questions %}
                        <tr data-id="{{ question.id }}">
                            <th scope="row">{{ question.numero }}</th>
                            <td>{{ question.intituler }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="follow-scroll">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Apercu</h5>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Modifier</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_javascript %}
    <script src="{{ asset('res/js/jquery.ba-resize.js') }}"></script>
    <script>
        $(function(){
            let iframeEditProfils = $('#iframeEditProfils');
            iframeEditProfils.on('load', function(){
                var iframe_content = iframeEditProfils.contents().find('body');
                iframe_content.on('resize', function(){
                    var elem = $(this);
                    iframeEditProfils.css({ height: elem.outerHeight( true ) });
                    $('#iframeEditProfils').text( 'IFRAME width: ' + elem.width() + ', height: ' + elem.height() );
                });
                iframe_content.resize();
            });
            iframeEditProfils.on('load', (e) => {
                let path = e.target.contentWindow.location.pathname;
                if(path === '/i3p/profils/'){
                    iframeEditProfils.attr('src', '');
                    $('.content').scrollTop(0);
                    $('#i3pProfil')[0].value = 0;
                }
            })
        });
        $(function(){
            let iframePresentation = $('#iframeEdit');
            iframePresentation.on('load', function(){
                var iframe_content = iframePresentation.contents().find('body');
                iframe_content.on('resize', function(){
                    var elem = $(this);
                    iframePresentation.css({ height: elem.outerHeight( true ) });
                    $('#iframeEdit').text( 'IFRAME width: ' + elem.width() + ', height: ' + elem.height() );
                });
                iframe_content.resize();
            });
        });
    </script>

{% endblock %}

