{% extends 'admin-base.html.twig' %}
{% block title %}{{ parent() }}Administration{% endblock %}
{% block page_subtitle %}Gestion utilisateurs{% endblock %}
{% block page_content %}
    <div class="marginTop3">
        <p>il y a actuellement {{ users|length }} utilisateurs enregistrés </p>
        <a href="{{ path('app_register') }}"><button class="marginTop1">Ajouter un utilisateur</button></a>
    </div>
    <div class="marginTop2">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
            {% block box_title %}
                <h3 class="txtcnt">Gestion des utilisateurs</h3>
            {% endblock %}
            {% block box_body %}
                <table class="userTable"></table>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
{% block bottom_javascript %}
    <script>
        let jsonData = {{ jsonUsers|json_encode|raw }};
        jQuery(function($){
            $('.userTable').footable({
                "columns": [
                    {"name": "actif", "title": "Actif", "breakpoints": "xs" },
                    {"name": "prenom", "title": "Prenom"},
                    {"name": "nom", "title": "Nom"},
                    {"name": "email", "title": "E-mail"},
                    {"name": "agence", "title": "Agence", "breakpoints": "xs"},
                    {"name": "verified", "title": "Vérifier", "breakpoints": "xs"},
                ],
                "rows": {{ jsonUsers|json_encode|raw }},
            });
        });
    </script>

{% endblock %}