{% extends 'base.html.twig' %}

{% block body %}
    <div class="marginTop2">
        <a href="{{ path('main_home') }}">Retour au menu</a>
    </div>
<table class="MainTable marginTop1">
    <thead>
    <tr>
        <th class="tabStatusTh">Status</th>
        <th class="tabPrenomTh">Prénom</th>
        <th class="tabNomTh">Nom</th>
        <th class="tabEmailTh">e-mail</th>
        <th class="tabAgenceTh">Agence</th>
        <th class="tabRolesTh">Role</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <a href="{# {{ path('user_profile', [ id => user.id ]) }} #}" title="Détails du compte">
            <tr class="tableRow" onclick="document.location = '{{ path('main_home') }}';">
                {% if user.actif %}
                    <td class="tabStatus">
                        <img class="ButtonOK" src="{{ asset('res/img/button_ok_12.png') }}" title="Compte activé" alt="V">
                    </td>
                {% else %}
                    <td class="tabStatus">
                        <img class="ButtonCan" src="{{ asset('res/img/button_cancel_02_12.png') }}" title="Compte désactivé" alt="X">
                    </td>
                {% endif %}
                <td class="tabPrenom">
                    {{ user.prenom }}
                </td>
                <td class="tabNom">
                    {{ user.nom }} ({{ user.sexe|formatSexe }})
                </td>
                <td class="tabEmail">
                    {{ user.email }}
                </td>
                <td class="tabAgence">
                    {{ user.agence.nom }}
                </td>
                <td class="tabRoles">
                    {% if 'ROLE_ADMIN' in user.roles %}
                        Admin
                    {% elseif 'ROLE_CONSULTANT' in user.roles %}
                        Consultant
                    {% elseif 'ROLE_USER' in user.roles %}
                        Client
                    {% endif %}

                </td>
            </tr>
        </a>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block title %}

{% endblock %}

