{% extends 'main-base.html.twig' %}

{% block title %}Ressources{% endblock %}

{% block page_content %}
<div class="card main-card col-md-12" data-controller="ressources">
    <div class="card-header">
        <div class="col-sm-12 d-flex flex-row justify-content-between align-items-center">
            <div class="col-sm-4">
                <a href="{{ path('ressource_new') }}"><button class="btn btn-pill border-0 btn-transition btn-shadow btn-hover-shine btn-outline-dark btn-icon"><i class="fa fa-plus btn-icon-wrapper"></i>Ajouter une ressource</button></a>
            </div>
            <div class="col-sm-4">
                Gestion Ressources
            </div>
            <div class="col-sm-4">
                <div class="dataTables_wrapper no-footer d-flex justify-content-center">
                    <div id="searchBox"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table" id="dataTable">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Url</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ressource in ressources %}
                <tr class="file-wrapper img">
                    <td>{{ ressource.nom }}</td>
                    <td>{{ ressource.url }}</td>
                    <td>{{ ressource.description }}</td>
                    <td>
                        {% if(ressource.image) %}
                            <div data-toggle="tooltip">
                                <button type="button"
                                        class="btn btn-xs btn-default js-open-modal"
                                        data-trigger="click"
                                        data-container="body"
                                        data-toggle="modal"
                                        data-target="#js-display-image"
                                        data-placement="left"
                                        data-filename='{{ ressource.image }}'>
                                    <img src="{{ asset('uploads/ressources/images/'~ressource.image) }}" height="66" alt="img">
                                </button>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="d-flex flex-column flex-nowrap justify-content-between">
                            <a href="{{ path('ressource_edit', {'id': ressource.id}) }}"><button class="btn btn-outline-dark border-0 btn-shadow btn-pill marginBot1">Modifier</button></a>
                            {{ include('ressource/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
    </div>
</div>
    <div class="modal fade" id="js-display-image" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <img src="" class="img-responsive" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">CANCEL
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
