{% extends 'empty-base.html.twig' %}
{% block title %}{{ parent() }} Test {{ testName }}{% endblock %}

{% block page_title%}Test {{ testName }}{% endblock %}

{% block page_subtitle %}<strong>I</strong>ndicateur de <strong>P</strong>rofil <strong>P</strong>ersonnel et <strong>P</strong>rofessionnel{% endblock %}
{% block page_content_class %}{{ parent() }}-apercu{% endblock %}
{% block page_content %}
    <div class="col-sm-12 d-flex justify-content-center">
        <div class="col-sm-6 d-flex flex-sm-column marginTop3">
            <h4>{{ test.presentation.titre }}</h4>
            {{ test.presentation.presentation|raw }}
            <a href="{{ path('test', {name: testName}) }}"><button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-danger btn-lg">Commencer le test</button></a>
        </div>
    </div>
{% endblock %}