<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="Description" content="ARCHI-MED Plateforme de Test">
        <meta name="robots" content="no-index, no-follow">
        <meta name="revisit-after" content="7 days">
        <meta name="copyright" content="ARCHI-MED">
        <meta name="Date-Creation-yyyymmdd" content="20210506">
        <title>{% block title %}Archi-med | {% endblock %}</title>
        <script src="https://kit.fontawesome.com/9ff3c10aa7.js" crossorigin="anonymous"></script>
        <script src="{{ asset('res/js/site_main.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('res/css/main.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div><a id="HautPage">&nbsp;</a></div>
        <div class="container">
            <header>
                <a href="{{ path('main_home') }}"><img id="AMLogo" src="{{ asset('/res/img/Archi-Med_Logo_2020_90p.png') }}" alt="ARCHI-MED"></a>
                <h1 class="BigF4 txtcnt">{% block body_title %}Plateforme De Test{% endblock %}</h1>
            </header>
            <main>
                <section class="frame">
                    <p class="AdminDate">
                        <em>{{ "now"|localizeddate('none', 'none', 'FR', null, "EEEE d MMMM Y', 'H'h'mm")|capitalize }}</em>
                    </p>
                        {% block body %}{% endblock %}
                    <p class="font10 txtcnt" id="HautPageButt">
                        <a href="#HautPage">Haut de page</a>
                    </p>
                </section>
            </main>
            <div class="footer">
                <div class="FooterTexte txtcnt font10">
                    <p class="copyright">Copyright © ARCHI-MED – Tous droits réservés.</p>
                </div>
            </div>
        </div>
        <div id="BottContain"></div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js" integrity="sha256-uVEHWRIr846/vAdLJeybWxjPNStREzOlqLMXjW/Saeo=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
        <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
        {% block bottom_javascript %}{% endblock %}
    </body>
</html>
