<!DOCTYPE html{% block html_start %}{% endblock %}>
<html lang="{{ app.request.locale }}">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% endblock %}
    <title>{% block title %}Eurêka | {% endblock %}</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {{ encore_entry_script_tags('app') }}
</head>
<body>
<div class="wrapper">
    <div class="col-sm-12">
        <section class="col-sm-12">
            {% block page_content %}{% endblock %}
        </section>
    </div>
</div>
    {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js" integrity="sha256-uVEHWRIr846/vAdLJeybWxjPNStREzOlqLMXjW/Saeo=" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
            <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
            <script src="{{ asset('bundles/adminlte/adminlte.js') }}"></script>
            <script src="{{ asset('res/js/jquery-3.6.0.min.js') }}"></script>
    {% endblock %}
    {% block bottom_javascript %}{% endblock %}
</body>
</html>
