<div class="col-xl-6 middle-half">
    <div class="main-card mb-3 card">
        <div class="grid-menu grid-menu-2col grid-switch-magic">
            <div class="no-gutters row">
                {% for test in app.user.tests %}
                    {% if(test.nom == 'I3P') %}
                        <div class="col-sm-6">
                            <a href="{{ path('presentation_I3P') }}">
                                <div class="widget-chart widget-chart-hover">
                                    <div class="icon-wrapper rounded-circle">
                                        <div class="icon-wrapper-bg bg-success"></div>
                                        <i class="lnr-graduation-hat text-success"></i>
                                    </div>
                                    <div class="widget-numbers">I3P</div>
                                    <div class="widget-subheading">
                                        <strong>I</strong>ndicateur de <strong>P</strong>rofil <strong>P</strong>ersonnel et <strong>P</strong>rofessionnel (Typologie de Jung)
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    {% if(test.nom == 'IRMR') %}
                        <div class="col-sm-6">
                            <a href="{{ path('presentation_Riasec') }}">
                                <div class="widget-chart widget-chart-hover">
                                    <div class="icon-wrapper rounded-circle">
                                        <div class="icon-wrapper-bg bg-info"></div>
                                        <i class="lnr-graduation-hat text-info"></i>
                                    </div>
                                    <div class="widget-numbers">R.I.A.S.E.C.</div>
                                    <div class="widget-subheading">
                                        Interet personnel et professionnel (Typologie de Holland)
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    {% if(test.nom == 'savORIENT') %}
                        <div class="col-sm-6">
                            <a href="{{ path('presentation_savORIENT') }}">
                                <div class="widget-chart widget-chart-hover">
                                    <div class="icon-wrapper rounded-circle">
                                        <div class="icon-wrapper-bg bg-danger"></div>
                                        <i class="lnr-graduation-hat text-danger"></i>
                                    </div>
                                    <div class="widget-numbers">Positioning Skills</div>
                                    <div class="widget-subheading">
                                        capacité à s'orienter
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="col-sm-6">
                    <a href="{{ path('index_pole_emploi') }}">
                    <div class="widget-chart widget-chart-hover">
                        <div class="icon-wrapper rounded-circle">
                            <div class="pole-emploi-icon"></div>
                            <div class="icon-wrapper-bg bg-warning"></div>
                        </div>
                        <div class="widget-numbers">Matching Metiers/R.I.A.S.E.C.</div>
                        <div class="widget-subheading">
                            liaison entre r.i.a.s.e.c. et fiche ROME Pole-Emploi
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{{ path('file_manager', {conf: "perso"}) }}">
                    <div class="widget-chart widget-chart-hover">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg bg-secondary"></div>
                            <i class="pe-7s-folder text-secondary"></i>
                        </div>
                        <div class="widget-numbers">Espace Documents</div>
                        <div class="widget-subheading">
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{{ path('main_ressources') }}">
                    <div class="widget-chart widget-chart-hover">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg bg-warning"></div>
                            <i class="pe-7s-drawer text-danger"></i>
                        </div>
                        <div class="widget-numbers">Espace ressources</div>
                        <div class="widget-subheading">
                            Liens utils
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
