{% extends "@!ArtgrisFileManager/views/_thumbnail.html.twig" %}
    {% block list_action %}
        <span data-toggle="tooltip" title="{{ 'title.delete'|trans }}">
            <button type="button"
                    class="btn btn-sm btn-danger js-delete-modal"
                    data-trigger="click"
                    data-container="body"
                    data-toggle="modal"
                    data-target="#js-confirm-delete"
                    data-placement="left"
                    data-html="true"
                    data-href='{{ path('file_manager_delete', fileManager.queryParameters|merge({'delete[]':file.fileName})) }}'>
               <span class="far fa-trash-alt"></span>
            </button>
        </span>
        <span data-toggle="tooltip" title="{{ 'title.rename.file'|trans }}">
        <button type="button"
                class="btn btn-sm btn-default js-rename-modal"
                data-trigger="click"
                data-container="body"
                data-toggle="modal"
                data-target="#js-confirm-rename"
                data-placement="left"
                data-html="true"
                data-name='{{ file.basename('.'~file.extension) }}'
                data-extension='{{ file.extension }}'
                data-href='{{ path('file_manager_rename', fileManager.queryParameters|merge({'fileName':file.fileName})) }}'>
        <span class="far fa-edit"></span>
        </button>
        </span>
        <a data-placement="left" title="{{ 'title.download'|trans }}"
           class="btn btn-sm btn-default"
           href="{{ path('pdf_view', { path: fileManager.queryParameters["route"], file: file.fileName }) }}">
        <span class="far fa-eye"></span>
        </a>
        {% if file.type == "file" %}
            <a data-placement="left" title="{{ 'title.download'|trans }}"
               class="btn btn-sm btn-default js-download"
               href="{{ path('file_manager_file', fileManager.queryParameters|merge({'fileName':file.fileName})) }}"
               download>
                <span class="fas fa-download"></span>
            </a>
            {% if fileEntity.isImage() %}
                <span data-toggle="tooltip" title="{{ 'title.preview.file'|trans }}">
                    <button type="button"
                            class="btn btn-sm btn-default js-open-modal"
                            data-trigger="click"
                            data-container="body"
                            data-toggle="modal"
                            data-target="#js-display-image"
                            data-placement="left"
                            data-href='{{ fileEntity.preview.path }}'>
                    <span class="fas fa-eye"></span>
                    </button>
                </span>
            {% endif %}
        {% endif %}
    {% endblock %}
